<style>
#banner { background-color: black; color: white; width: 100vw; height: 100vh; margin: 0; padding: 2% 0 2% 0; }
#host { border: thin solid white; padding: 0 1% 0 1%; }
#tx { width: 100%; }
#doc { }
#editor { width: 100%; text; align: center; }
#chart {}
</style>

<% if params.has_key?(:c) %>
<details id='banner' open>
<summary id='host'><%= request.host %>:<%= params[:c] %></summary>
<div id='tx'></div>
<% if params.has_key?(:u) %>
<%# WALLET %>
<p><%= params[:u] %>@<%= params[:c] %>: <span id='bal'></span></p>
<script>
let bal = document.getElementById("bal")
let tx = document.getElementById("tx")
let s = ""
fetch("/<%= params[:c] %>/u/<%= params[:u] %>").then(res => res.json()).then((d) => {
bal.innerText = d.balance;
for (const [k,v] of Object.entries(d.transactions)) {
    s += `<p><a href='/<%= params[:c] %>/rx/${k}'>${k}</a></p>`;
}
tx.innerHTML = s;
});
</script>

<% elsif params.has_key?(:i) %>
<%# RX %>
<p><%= params[:c] %>:<%= params[:i] %></p>
<script>
let tx = document.getElementById("tx");
fetch("/rx/<%= params[:c] %>/<%= params[:i] %>").then(res => res.json()).then((d) => {
console.log(d);
//for (const [k,v] of Object.entries(d.transactions)) {
//    s += `<p><a href='/<%= params[:c] %>/rx/${k}'>${k}</a></p>`;
//}
//tx.innerHTML = s;
}));
</script>
<% else %>
<% Chaining.coin(params[:c]).to_h.each_pair do |k,v| %>
<p><a href='/<%= params[:c] %>/rx/<%= k %>'><%= k %></a></p>
<% end %>
<% end %>
</details>
<% else %>

<div id='body'></div>
<%= erb :editor %>

<div id='content'>
<h1 id='content_head'>
<span>NOTES:</span>
<button id='outbox' class='material-symbols-outlined' style='float: right; vertical-align: middle;'>send</button>
<button id='inbox' class='material-symbols-outlined' style='float: right; vertical-align: middle;'>terminal</button>
</h1>
<% if params.has_key?(:h) %>
<textarea id='doc' name='doc'><%= ERB.new(VM[params[:h]][:doc]).result(binding) %></textarea>
<% else %>
<textarea id='doc' name='doc'><%= ERB.new(File.read(request.host + '.erb')).result(binding) %></textarea>
<% end %>
</div>

<% end %>