
<h1 style='width: 100%; text-align: center;'>READY</h1>
<div style='width: 100%; text-align: center;'>
<div id='qrcode' style='width: 100%;'></div>
<script>$('#qrcode').qrcode("https://<%= request.host %>/x/<%= params[:here] %>");</script>
</div>

<div style='width: 100%; text-align: center; border: thin solid black;'>
<h3><a href='/x/<%= params[:here] %>'>view</a></h3>
<code>/x/<%= params[:here] %></code>
</div>



<div style='width: 100%; text-align: center; border: thin solid black;'>
<h3><a href='/?h=<%= params[:here] %>'>fork</a></h3>
<code>/?h=<%= params[:here] %></code></h3>
</div>